*{
    margin: 0;
    padding: 0;
}
header{
    background-color: red;
    text-align: center;
    color: white;
    height: 10vh;
}
main{
    height: 90vh;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 400px;
    height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.box1{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.box1 input{
    width: 90%;
    height: 30px;
}
.box1 button{
    width: 150px;
    height: 40px;
}
.box2{
    height: 100px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box2 p{
    font-size: 250%;
}
@media(max-width:420px){
    .box{
        width: 350px;
        width: 350px;
    }
    header h1{
        font-size: 38px;
    }
}